<div id="flash">
  <%= render partial: "data/flash" %>
</div>

<h1>Moving to UUID</h1>

<%= form_with url: "/generate_test_data", method: :post do |f|%>
  <%= f.submit 'Generate test data'%>
<% end %>
